# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/vendor
docroot/core
docroot/sites/*/settings*.php
docroot/sites/*/services*.yml
docroot/sites/sites.php


